.top {
    text-align: center;
}

h3 {
    display: inline;
}

.profile {
    text-align: justify;
}

h1,h2,h3 {
    text-transform: uppercase;
}

.emp-info {
    display: inline-block;
}

.gist {
    display: flex;
    justify-content: space-between
}

.icon {
    height: 20px;
    width: 20px;
}